/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --background-color: #fff1f7;
    --title-color: #ffc2e6;
    --back-decor-color: #ff8dcb;
    --color-for-bottom: #353430;
    --color-for-bottom-hover: #32312d66;
    --accent-color: #ff0070;
    --main-font: 'IBM Plex Mono';
    --text-color: #353430;
    --background-img: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  .decor {
    color: var(--accent-color);
    visibility: hidden;
  }

  .decor::after {
    filter: drop-shadow(0px 0px 4px var(--accent-color));
    visibility: hidden;
  }

  .title-decor {
    background-color: var(--back-decor-color);
    line-height: 130%;
  }
  
}

.theme_light   h2 {
  color: var(--text-color)
}

.theme_light .title-decor {
  color: var(--text-color);
}

.theme_light .decor {
  color: var(--accent-color);
  visibility: hidden;
}

.theme_light  .decor::after {
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  visibility: hidden;
}

.theme_light .decorated-zone::after {
  content: '';
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.theme_light .decorated-zone::before {
  content: '';
  border-left: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.theme_light .link {
  text-shadow: 2px 2px var(--title-color);
}

.theme_light .footer__title {
  color: var(--title-color);
}

