/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_light {
  --background-color: #fff1f7;
  --title-color: #ffc2e6;
  --back-decor-color: #ff8dcb;
  --color-for-bottom: #353430;
  --color-for-bottom-hover: #32312d66;
  --accent-color: #ff0070;
  --main-font: 'IBM Plex Mono';
  --text-color: #353430;
  --background-img: url('../images/cover-image-light.png');
}

.page.theme_light {
  
}

@media (prefers-color-scheme: light) {
  .decor {
    color: var(--accent-color);
    visibility: hidden;
  }

  .decor::after {
    filter: drop-shadow(0px 0px 4px var(--accent-color));
    visibility: hidden;
  }

  .title-decor {
    background-color: var(--back-decor-color);
    font-weight: 700;
    line-height: 130%;
  }
}

.theme_light .decor {
  color: var(--accent-color);
  visibility: hidden;
}

.theme_light  .decor::after {
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  visibility: hidden;
}

