/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF0070;
  --main-font: 'IBM Plex Mono';
  --text-color: #353430;
  --background-img: url("../images/cover-image-light.png");
}

@media (max-width: 768.1px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 0.5fr 4fr;
  }

  .header__theme-menu {
    align-self: center;
    justify-self: end;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-shadow:  4px 4px 0px #FF8DCB;
  }

  .main {
    margin-bottom: 40px;
  }

  .article-of-reasons {
    column-gap: 20px;
  }

  .section-specific-reasons {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 70px auto auto auto; 
    gap: 18px; 
    grid-template-areas: 
      "title"
      "multitasking"
      "food"
      "gadget";
  }

  .article-of-reasons__title {
    max-height: 71px;
    max-width: 236px; 
  }

  .recommendations{
    gap: 20px;
  }
}

@media (max-width: 375.1px) {
  .header {
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr 1fr 1.1fr;
    margin-bottom: 40px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }
  
  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    justify-self: center;
    margin-inline-start: 0;
  }

  .header__container-for-text {
    min-width: 100%;
    justify-self: end;
  }

  .main {
    padding: 0 10px;
    gap: 50px;
  }
  .article-of-reasons {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto; 
    grid-template-areas: 
    "title"
    "top-article"
    "bottom-article"; 
  }

  .article-of-reasons__title {
    max-height: 47px;
    max-width: 100%; 
  }

  .section-specific-reasons {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
  }
  

  .recommendations {
    grid-template-columns: 1fr ; 
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "title"
    "title_2"
    "nebo"
    "music"
    "wolk"
    "nutrition"
    "read";  
    column-gap: 11px;
    row-gap: 19px;
  }

  .collage__picture {
    margin-block-start: 10px;
    display: grid;
    row-gap: 10px; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(5, auto); 
    grid-template-areas: 
    "sunset"
    "ice-cream"
    "tape" 
    "books"
    "street"; 
  }

}